body{
  background-color: #EBA9D5;

}
#wrapper{
  position: relative;
}
.topbox1,.topbox2{
  height:35px;
  width:auto;
}

.topbox1{
  margin-top:20px;
  border: solid 3px #F21BA9;
  margin-left: 30px;

}
.topbox2{
  border: solid 3px #FFFFFF;
  margin-right: 30px;
  position:relative;
  bottom:20px;
  left:0px;
}
